header {
	background-color: var(--color-amarillo);
	font-size: var(--paragraph);
	padding-bottom: 20px;
}

header .burger-menu {
	background-color: var(--color-celeste);
	padding: 7px;
	width: 28px;
	color: white;
	border-radius: 5px;
	text-align: center;
	margin-left: 45%;
    display: block;
}

.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

header .logo {
    flex-grow: 1;
    width: 40%;
    justify-content: flex-start;
    padding: 10px;
}

.main-header .search-block {
    display: flex;
    border-radius: 7px;
    background-color: #fff;
    flex-grow: 1;
    width: 37%;
    height: 30px;
}

.main-header .search-block input {
    border: none;
    background-color: white;
    width: 85%;
    border-radius: 7px;
    text-align: center;
}

.main-header .search-block button {
    border: none;
    background-color: #fff;
    text-align: right;
}

header p {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.header-nav {
	display: none;
}

.banner {
	display: none;
}

/* Table */
@media (min-width: 361px){

	nav {
		display: block;
	}
	
	.burger-menu {
		display: none;
	}
}

@media (min-width: 769px){

}